@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    background-color: #ffffff;
    justify-content: space-around;
    padding: 1% 0;
}

header nav{
    align-self: center;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 20px;
    border-bottom: 1px solid transparent;
    transition: 0.4s ease-in-out;
}

header nav ul li a:hover{
    border-bottom: 1px solid rgb(0, 0, 0);
}

header h1{
    font-family: 'Nabla', cursive;
}