body {
    font-family: 'San Francisco', sans-serif;
    margin: 0;
    padding: 0;
    background: #f1f1f1;
  }

header {
    padding: 20px;
    text-align: center;
  }
  
  header a {
    color: black;
    text-decoration: none;
  }
  
  section {
    margin: 20px;
  }
  
  .presentation {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
    .bloc {
        padding: 20px;
        width: 300px;
        margin-right: 20px;
    }

  .bloc_texte {
    padding-top: 20px;
    text-align: center;
    margin-right: 20px;
  }
  
 


.bloc{
  width: 50rem;
  margin-left: 5%;
}

  .project{
    width: 100%;
    height: 100%;
  }

  
  .flex {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .flex2{
    display: flex;
    flex-direction: column;
  }
  
  .diapo{
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
  }
  
  #nav-droite, #nav-gauche{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    font-size: 3em;
  }
  
  #nav-droite{
    right: 10px;
  }
  #nav-gauche{
    left: 20px;
  }
  
  .elements{
    display: flex;
    transition: 1s linear;
  }
  
  .element{
    flex: 1 0 100%;
    position: relative;
  }
  
  .element > img{
    width: 100%;
    height: 100%;
  }
  
  @media only screen and (max-width: 900px) {
    body {
        font-size: 12px;
    }
    
    header {
        padding: 10px;
    }
    
    section {
        margin: 10px;
    }
    
    .bloc {
        width: 200px;
        margin-right: 10px;
    }
    
    .bloc_texte {
        width: 200px;
        margin-right: 10px;
    }
    
    .project {
        width: 70%;
    }
}

  