@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'europa';
    text-decoration: none;
}

.Portfolio{
    text-align: center;
    cursor: pointer;
}

body{
    background-color: #373737;
    color: rgb(216, 216, 216);
}

header{
    display: flex;
    justify-content: space-around;
    padding: 1% 0;
}

header nav{
    align-self: center;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-right: 20px;
    border-bottom: 1px solid transparent;
    transition: 0.4s ease-in-out;
}

header nav ul li a:hover{
    border-bottom: 1px solid rgb(0, 0, 0);
}

header h1{
    color: rgb(255, 0, 0);
}

video{
    margin-left: 4rem;
    width: 46rem;
    height: 30rem;
}

section{
    margin-top: 3rem;
    margin-left: 14rem;
    margin-right: 14rem;
    text-align: justify;
}

.bloc-presentation {
    background-color: rgb(209, 209, 209);
    grid-column: 3;
    width: 20em;
    height: 15em;
    border-radius: 5%;
    box-shadow: 10px 10px 6px rgb(99, 99, 99);
  }

  .presentation{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    margin-left: 14rem;
    margin-right: 14rem;
}

.bloc-presentation>h2{
    margin-left: 2rem;
    margin-bottom: 1rem;
    color: rgb(255, 0, 0);
}

.bloc-presentation>h4{
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 0.5rem;
    color: rgb(255, 0, 0);
}

.bloc{
  width: 50rem;
  margin-left: 5%;
}

  .project{
    width: 100%;
    height: 100%;
  }

  
  .flex {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  .flex2{
    display: flex;
    flex-direction: column;
  }
  
  .diapo{
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    height: 100%;
    width: 100%;
  }
  
  #nav-droite, #nav-gauche{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(255, 0, 0);
    font-size: 3em;
  }
  
  #nav-droite{
    right: 10px;
    opacity: 50%;
  }
  #nav-gauche{
    left: 20px;
    opacity: 50%;
  }
  
  .elements{
    display: flex;
    transition: 1s linear;
  }
  
  .element{
    flex: 1 0 100%;
    position: relative;
  }
  
  .element > img{
    width: 100%;
    height: 100%;
  }
  
@media screen and (min-width: 0px) and (max-width: 480px) {
  .bloc{
        margin-left: 0rem;
        width: 20rem;
        height: 11rem;
        margin-top: 1rem;
    }
    
    section{
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1.5rem;
        text-align: justify;
        font-size: small;
    }
    
    .bloc-presentation {
        margin-top: 0rem;
        background-color: rgb(209, 209, 209);
        grid-column: 3;
        width: 11rem;
        height: 7rem;
        border-radius: 5%;
        box-shadow: 10px 10px 6px rgb(99 99 99);
      }
    
      .presentation{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .bloc-presentation>h2{
        margin-left: 1rem;
        margin-bottom: 0.4rem;
        color: rgb(255, 0, 0);
        font-size: 1rem;    
    }
    
    .bloc-presentation>h4{
        margin-bottom: 0.4rem;
        margin-left: 1rem;
        margin-right: 0.5rem;
        color: rgb(255, 0, 0);
        font-size: 0.6rem;
    }
}

@media screen and (min-width: 480px) and (max-width: 500px) {
  .bloc{
        margin-left: 1rem;
        width: 19rem;
        height: 12rem;
        margin-top: 4.5rem;
    }
    
    section{
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: justify;
        font-size: small;
    }
    
    .bloc-presentation {
        margin-top: 0rem;
        background-color: rgb(209, 209, 209);
        grid-column: 3;
        width: 11rem;
        height: 7rem;
        border-radius: 5%;
        box-shadow: 10px 10px 6px rgb(99 99 99);
      }
    
      .presentation{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .bloc-presentation>h2{
        margin-left: 1rem;
        margin-bottom: 0.4rem;
        color: rgb(255, 0, 0);
        font-size: 0.7rem;
    }
    
    .bloc-presentation>h4{
        margin-bottom: 0.4rem;
        margin-left: 1rem;
        margin-right: 0.5rem;
        color: rgb(255, 0, 0);
        font-size: 0.5rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 580px) {
  .bloc{
        margin-left: 1rem;
        width: 22rem;
        height: 17rem;
    }
    
    section{
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: justify;
    }
    
    .bloc-presentation {
        margin-top: 0rem;
        background-color: rgb(209, 209, 209);
        grid-column: 3;
        width: 12rem;
        height: 6rem;
        border-radius: 5%;
        box-shadow: 10px 10px 6px rgb(99 99 99);
      }
    
      .presentation{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    section{
        margin-top: 3rem;
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: justify;
    }

    .bloc-presentation>h2{
        margin-left: 1rem;
        margin-bottom: 0.3rem;
        color: rgb(255, 0, 0);
        font-size: 0.7rem;
    }
    
    .bloc-presentation>h4{
        margin-bottom: 0.3rem;
        margin-left: 1rem;
        margin-right: 0.5rem;
        color: rgb(255, 0, 0);
        font-size: 0.5rem;
    }
}

@media screen and (min-width: 580px) and (max-width: 690px) {
  .bloc{
        margin-left: 1rem;
        width: 28rem;
        height: 20rem;
    }
    
    section{
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1.5rem;
        text-align: justify;
    }
    
    .bloc-presentation {
        margin-top: 0rem;
        background-color: rgb(209, 209, 209);
        grid-column: 3;
        width: 12rem;
        height: 9rem;
        border-radius: 5%;
        box-shadow: 10px 10px 6px rgb(99 99 99);
      }
    
      .presentation{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    section{
        margin-top: 3rem;
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: justify;
    }

    .bloc-presentation>h2{
        margin-left: 2rem;
        margin-bottom: 0.5rem;
        color: rgb(255, 0, 0);
        font-size: 1rem;
    }
    
    .bloc-presentation>h4{
        margin-bottom: 0.4rem;
        margin-left: 2rem;
        margin-right: 0.5rem;
        color: rgb(255, 0, 0);
        font-size: 0.7rem;
    }
    
}

@media screen and (min-width: 690px) and (max-width: 860px) {
  .bloc{
        margin-left: 1rem;
        width: 38rem;
        height: 26rem;
    }
    
    section{
        margin-top: 3rem;
        margin-left: 1rem;
        margin-right: 2rem;
        text-align: justify;
    }
    
    .bloc-presentation {
        margin-top: 0rem;
        background-color: rgb(209, 209, 209);
        grid-column: 3;
        width: 12rem;
        height: 7rem;
        border-radius: 5%;
        box-shadow: 10px 10px 6px rgb(99 99 99);
      }
    
      .presentation{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        margin-left: 1rem;
        margin-right: 2rem;
    }

    section{
        margin-top: 3rem;
        margin-left: 1rem;
        margin-right: 2rem;
        text-align: justify;
    }

    .bloc-presentation>h2{
        margin-left: 1rem;
        margin-bottom: 0.3rem;
        color: rgb(255, 0, 0);
        font-size: 0.7rem;
    }
    
    .bloc-presentation>h4{
        margin-bottom: 0.3rem;
        margin-left: 1rem;
        margin-right: 0rem; 
        color: rgb(255, 0, 0);
        font-size: 0.6rem;
    }
}

  