/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */
body {
  font-family: 'San Francisco', sans-serif;
  background-image: url(../images/fond.png);
  background-size: 120%;
  background-repeat: no-repeat;
  margin: 0;
}

::-webkit-scrollbar{
  width: 0%;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  font-size: 36px;
}

/* Navigation */
nav {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  border-radius: 25px;
  background-color:#457f7694;
  position: fixed;
  top: 0; 
  z-index: 999;
}

.navigation {
  text-align: center;
  display: flex;
  justify-content: center;
}

.navigation a {
  margin: 1rem 1rem 1rem 1rem;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Page content container */
.container {
  max-width: 1200px;
  margin: 10rem auto;
}

/* Grid layout */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.image {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 90%;
  height: auto;
  border-radius: 1rem;
}

.placement {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 20px;
}

.placement p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: white;
  text-align: left;
}

/* Social icons */
.reseaux {
  width: 50px;
  margin: 10px;
  display: inline-block;
}

/* Competence section */
#compétance {
  margin: 10rem 10rem 0rem 10rem;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  margin-bottom: 5%;
}

.carte {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d7ffd4;
  border-radius: 10px;
  padding: 20px;
  width: 60%;
}

.carte img {
  max-width: 100px;
  margin-bottom: 10px;
}

/* Project section */
#project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 10% 10% 0% 10%;
  justify-items: center;
}


.project {
  border-radius: 5px;
  padding: 3px;
  width: 100%;
  background-color: #579635a6;
  position: relative;
  overflow: hidden;
}

.project img {
  width: 100%;
  height: auto;
  max-width: none; 
  margin-bottom: 0px;
}

.project:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1; /* Change opacity to 1 */
  transition: opacity 0.3s;
  z-index: 1;
}

.project:hover p {
  visibility: visible; 
  opacity: 1; /* Add opacity to make the text visible */
  transition: opacity 0.3s, visibility 0.3s; /* Add opacity transition */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
}

.project p {
  visibility: hidden;
  opacity: 0; /* Set initial opacity to 0 */
  position: absolute;
  top: 50%;
  left: 50%;
}


/* Center-aligned paragraphs */
p {
  text-align: center;
}


@media (max-width: 900px) {
  /* Styles for screens narrower than 900px */
  
  .grid,
  .grid2,
  .bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .carte img {
    max-width: 100%; /* Pour que l'image prenne la largeur maximale de la carte */
    height: auto; /* Pour maintenir le ratio d'aspect de l'image */
  }
  
  .carte h1 {
    margin-top: 10px;
  }

  .carte {
    margin: 20%;
  }

  .placement p {
    color: rgb(0, 0, 0);
  }


  #compétance {
    margin: 0%;
  }

  #project {
    grid-template-columns: none;
  }

  /* Disable hover and before styles for .carte */
  .carte:hover::before {
    content: none;
  }

  /* Override styles for project cards */
  .project p {
    visibility: visible;
    opacity: 1;
    position: static;
    top: auto;
    left: auto;
    transform: none;
    color: rgb(0, 0, 0);
    z-index: initial;
  }
}